@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Senior .Net developer</h1>
        <p>My focus was create a strong Architecture like this image use <strong>SOLID</strong> principles</p>
        <img src="~/imgs/FrameWorkClean.png" />        
    </div>
